<div class="mx-auto w-75">
    <h2 class="text-white">Popular movies</h2>


    <select [ngModel]="rating | async" (ngModelChange)="onSelectChange($event)"
        class="form-control form-control-sm mw-250px">
        <option value="" selected>All</option>
        <option value="G">Kids</option>
        <option value="PG">PG</option>
        <option value="PG-13">PG13</option>
        <option value="R">Restricted</option>
        <option value="NC-17">NC-17 (NSFW)</option>
        <option value="NR">Unrated</option>
    </select>
</div>

<div class="mx-auto w-75">


    <div class="row m-0">
        <div *ngFor="let movie of movies$">
            <a routerLink="/movie/{{movie.id}}">
                <div class="mx-auto w-100">
                    <img src="https://image.tmdb.org/t/p/w200/{{movie.poster_path}}" class="p-3">
                </div>
            </a>
        </div>

    </div>
</div>
<router-outlet></router-outlet>
