.lg-absolute {
    position: absolute;
    top: 25%;
    left: 10%;
    z-index: 2;

}

.mw-50 {
    max-width: 50%;
}

.mh-50vw {
    max-height: 50vw;
}

.box-shadow {
    box-shadow: -4px 5px 16px 1px black;
}
