.lg-absolute {
    position: absolute;
    top: 25%;
    left: 10%;

}

.mw-50 {
    max-width: 50%;
}

.mh-50vw {
    max-height: 50vw;
}

.box-shadow {
    box-shadow: -4px 5px 16px 1px black;
}

@media (max-width: 377px) {
    .lg-absolute {
        position: initial;
    }

    #poster {
        display: none;
    }

    .mw-50 {
        max-width: 100%;
    }
}
