<div class="w-100 mx-auto my-5" style="text-align: center; margin-bottom: 100px">
    <div class="">
        <h2 class="text-white col-12">Oops!—We can't find the page you're looking for.</h2>

        <p class="text-danger ">You tried to request a page that doesn't seem to exist. </p>

        <a routerLink="/" class="btn btn-danger text-white">Homepage</a>
        <br>
        <img style="margin-top: 100px" src="https://www.youtube.com/yts/img/ringo/img/image-hh-404-vflP3hqNT.png"
            alt="404 error - URL doesn't exist">
    </div>
</div>
