<div class="text-center mt-4">
    <h2 class="text-white">Top Rated Movies</h2>
</div>

<div class="container-fluid ">
    <div class="text-right">
        <select [ngModel]="rating | async" (ngModelChange)="onSelectChange($event)" class="form-control-sm m-3 ">
            <option value="" selected>All</option>
            <option value="G">Kids</option>
            <option value="PG">PG</option>
            <option value="PG-13">PG13</option>
            <option value="R">Restricted</option>
            <option value="NC-17">NC-17 (NSFW)</option>
            <option value="NR">Unrated</option>
        </select>
    </div>
</div>



<div class="container-lg ">


    <div class="row row-cols-3 row-cols-md-4 row-cols-lg-5 m-0 ">
        <div *ngFor="let movie of movies$">
            <a routerLink="/movie/{{movie.id}}">
                <div class="col p-3 ">
                    <img class="poster-path scale" src="https://image.tmdb.org/t/p/w200/{{movie.poster_path}}">
                </div>
            </a>
        </div>

    </div>
</div>
