<nav>
    <ul class="list-unstyled row">
        <li class="col-6 text-right">Movies</li>
        <li class="col-6">People</li>
    </ul>
</nav>
<div class="container-lg">
    <div class="row row-cols-3 row-cols-md-4 row-cols-lg-5 m-0 ">
        <div *ngFor="let movie of movies$['results']">
            <a routerLink="/movie/{{movie.id}}">
                <div class="col p-3 ">
                    <img class="poster-path" *ngIf="movie.poster_path; else elseBlock"
                        src="https://image.tmdb.org/t/p/w200/{{movie.poster_path}}">

                    <ng-template #elseBlock>
                        <img class="poster-path" src="../../assets/anonmovie.png">

                    </ng-template>
                </div>
            </a>
        </div>
    </div>

    <div class="container-lg">
        <div class="row row-cols-3 row-cols-md-4 row-cols-lg-5 m-0 ">
            <div *ngFor="let person of persons$['results']">

                <a routerLink="/person/{{person.id}}">
                    <div class="col p-3 ">
                        <img class="poster-path" *ngIf="person.profile_path; else elseBlock"
                            src="https://image.tmdb.org/t/p/w200/{{person.profile_path}}">
                        <h3 class="text-white h6 text-center">{{person.name}}</h3>
                        <ng-template #elseBlock>
                            <img class="poster-path" src="../../assets/anon.png">

                        </ng-template>
                    </div>
                </a>

            </div>
        </div>



    </div>
